@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SfProDisplay";
  src: url("/fonts/sfpd-regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "SfProDisplay";
  src: url("/fonts/sfpd-bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "SfProDisplay";
  src: url("/fonts/sfpd-semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "SfProDisplay";
  src: url("/fonts/sfpd-medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "SfProDisplay";
  src: url("/fonts/sfpd-light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "SfProDisplay";
  src: url("/fonts/sfpd-thin.otf");
  font-weight: 100;
}

@font-face {
  font-family: "SfProDisplay";
  src: url("/fonts/sfpd-ultralight.otf");
  font-weight: 200;
}

@font-face {
  font-family: "SfProDisplay";
  src: url("/fonts/sfpd-heavy.otf");
  font-weight: 900;
}

@font-face {
  font-family: "SfProDisplay";
  src: url("/fonts/sfpd-black.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Prompt";
  src: url("/fonts/Prompt-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Prompt";
  src: url("/fonts/Prompt-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Prompt";
  src: url("/fonts/Prompt-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Prompt";
  src: url("/fonts/Prompt-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Prompt";
  src: url("/fonts/Prompt-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Prompt";
  src: url("/fonts/Prompt-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Prompt";
  src: url("/fonts/Prompt-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Prompt";
  src: url("/fonts/Prompt-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Prompt";
  src: url("/fonts/Prompt-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Oliver";
  src: url("/fonts/Oliver-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Cal Sans";
  src: url("/fonts/CalSans-Regular.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  src: url("/fonts/Nunito-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Covered By Your Grace";
  src: url("/fonts/CoveredByYourGrace-Regular.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  src: url("/fonts/Nunito-Italic-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: italic;
}
:root {
  @apply leading-normal font-normal bg-[#010117];

  font-family: "SfProDisplay";
  font-optical-sizing: auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
