@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SfProDisplay";
  src: url("/fonts/sfpd-regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "SfProDisplay";
  src: url("/fonts/sfpd-bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "SfProDisplay";
  src: url("/fonts/sfpd-semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "SfProDisplay";
  src: url("/fonts/sfpd-medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "SfProDisplay";
  src: url("/fonts/sfpd-light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "SfProDisplay";
  src: url("/fonts/sfpd-thin.otf");
  font-weight: 100;
}

@font-face {
  font-family: "SfProDisplay";
  src: url("/fonts/sfpd-ultralight.otf");
  font-weight: 200;
}

@font-face {
  font-family: "SfProDisplay";
  src: url("/fonts/sfpd-heavy.otf");
  font-weight: 900;
}

@font-face {
  font-family: "SfProDisplay";
  src: url("/fonts/sfpd-black.otf");
  font-weight: 800;
}

:root {
  @apply leading-normal font-normal bg-[#010117];

  font-family: "SfProDisplay";
  font-optical-sizing: auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
